/* @theme gradient_v2 */
/* Author: rnd195 https://github.com/rnd195/ */
/* MIT license https://github.com/rnd195/my-marp-themes/blob/live/licenses/LICENSE */

@import "default";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-family: Inter, Helvetica, Arial;
  --color--text:#333;
}

section {
  background-color: #ffffff;
  background-image: linear-gradient(to top right,
      #fce1e4 10%,
      #e1f7d5 45%,
      #c9f0ff 90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a3d85;
}



code {
  background-color: #ffffffad;
}

mark {
  background-color: #eaa2ee;
  padding: 0 2px 2px;
}

pre {
  background-color: #ffffffad;
}

/* https://github.com/yhatt/marp/issues/263 */
section::after {
  font-size: 0.75em;
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/* the "center" keyword centers the image - may break, careful */
/* https://github.com/marp-team/marpit/issues/141#issuecomment-473204518 */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: blue */
section.blue {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom right, #cadaf7 5%, #87a7e4 95%);
}

section.blue>h1,
section.blue>h2,
section.blue>h3,
section.blue>h4,
section.blue>h5,
section.blue>h6 {
  color: #214484;
}

section.blue>a {
  color: #303ca6;
}

section.blue::after,
section.blue>footer,
section.blue>header {
  color: #303ca6;
}

/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext>p,
section.tinytext>ul,
section.tinytext>blockquote {
  font-size: 0.65em;
}

section.p5_v2 {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom right, 
      #edfbf6 0%, 
      #ffdff9 90%, 
      #d78c8c 120%
      );

      & h1,
      & h2{
            color:#80057c;
      }
}