:root {
  --cream: #fffaf0;
  --cream-light: #fff7e6;
  --text-main: #333;
  --button: #144271;
  --button-hover: #151941;
}

/* ★ 背景用の p5 キャンバスを包むコンテナ */
#p5-background {
    position: fixed;
    inset: 0;
    z-index: -1; /* コンテンツより後ろ */
    pointer-events: none;
    /* filter: blur(5px) brightness(150%) contrast(200%); */
}

/* p5 の canvas を制御 */
#p5-background canvas {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--cream);
    color: var(--text-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 50px 10px 30px;
    /* background-color: #ffffff8c; */
}

header h1 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 0.2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

header h2 {
    color: #ffffff;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

header p {
    color: #000000;
    font-size: 2em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.card{
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* カードサイズの指定 */
  height: 360px;

  background: rgba(255, 255, 255, 0.86);
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  text-decoration: none;
  color: inherit;       
  transition: all 0.25s ease;
}

.card:hover{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}

/* サムネ*/
.card__thumb{
  height: 180px;
  background-image: var(--thumb);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* テキスト */
.card__body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 18px;
  flex: 1;
}

.card__title{
  margin: 0;
  font-size: 1.2em;
  color: var(--text-main);
}

.card__desc{
  margin: 0;
  font-size: 0.95em;
  line-height: 1.5;
  color: rgba(51, 51, 51, 0.85);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* スマホサイズの調整 */
@media (max-width: 768px){
  .card{
    height: 340px;
  }
  .card__thumb{
    height: 200px;
  }
  .card__title{
    font-size: 1.1em;
  }
  .card__desc{
    font-size: 0.9em;
    -webkit-line-clamp: 4;
  }
}